<section class="footer">
    <div class="text-center">
      <h2 class="text-3xl">Jazakumullah Khairan</h2>
    </div>
    <div class="p-2">
      <div class="d-flex justify-content-center ">
        <div class="d-sm-flex">
          <a href="https://www.facebook.com/bukumasjid" target="_blank"><div class="text-center px-3"><i class="ti">&#xf7e6;</i> bukumasjid</div></a>
          <a href="https://x.com/bukumasjid" target="_blank"><div class="text-center px-3"><i class="ti">&#xfc0f;</i> bukumasjid</div></a>
        </div>
        <div class="d-sm-flex">
          <a href="https://t.me/bukumasjid" target="_blank"><div class="text-center px-3"><i class="ti">&#xec26;</i> bukumasjid</div></a>
          <a href="https://www.instagram.com/bukumasjid" target="_blank"><div class="text-center px-3"><i class="ti">&#xec20;</i> bukumasjid</div></a>
        </div>
        <div class="d-sm-flex">
          <a href="https://github.com/buku-masjid/buku-masjid" target="_blank"><div class="text-center px-3"><i class="ti">&#xec1c;</i> buku-masjid</div></a>
        </div>
      </div>
    </div>
    <div class="text-center p-2">
      <a href="/tnc" class="text-decoration-none text-muted">Syarat & Ketentuan</a> | 
      <a href="/privacy-policy" class="text-decoration-none text-muted">Kebijakan Privasi</a> | 
      <a href="/faq" class="text-decoration-none text-muted">FAQ</a>
    </div>
    <div class="text-center p-2">(c) 2025 Bukumasjid</div>
  </section>
