<div class="nav-desktop d-inline-flex justify-content-center mx-auto">
  <a class="nav-link active" aria-current="page" href="/">Beranda</a>
  <a class="nav-link" href="/team">Tim</a>
  <a class="nav-link" href="/cloud">Harga</a>
  <a class="nav-link" href="/pengguna">Masjid</a>
  <a class="nav-link" href="/donasi">Donasi</a>
  <a class="nav-link" href="/kontak">Kontak</a>
  <a class="nav-link" href="/mitra">Mitra</a>
  <a class="nav-link">|</a>
  <a class="nav-link" href="https://docs.bukumasjid.com">Panduan</a>
  <a class="nav-link" href="https://docs.bukumasjid.com/blog">Blog</a>
  <a class="nav-link" href="/register">Daftar</a>
  <a class="nav-link" href="https://demo.bukumasjid.com" target="_blank"><span class="badge btn-outline-primary">Coba Demo</span></a>
</div>
