<div class="d-sm-none p-3 position-relative">
  <img src="/img/bm_logo_white.svg">
  <a class="btn position-absolute top-2 end-0 z-2 pe-3" data-bs-toggle="offcanvas" href="#offcanvasStart" role="button" aria-controls="offcanvasStart">
    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
  </a>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasStart" aria-labelledby="offcanvasStartLabel" aria-modal="true" role="dialog">
  <div class="text-end p-3">
      <button type="button" class="btn-close text-reset float-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body pt-0 d-flex align-items-stretch flex-column bd-highlight">
    <div class="fs-4 sidebar-menu bd-highlight text-start px-3">
        <ul>
            <a href="/"><li class="pb-2">Beranda</li></a>
            <a href="/team/"><li class="pb-2">Tim</li></a>
            <a href="/cloud/"><li class="pb-2">Harga</li></a>
            <a href="/donasi/"><li class="pb-2">Donasi</li></a>
            <a href="/kontak/"><li class="pb-2">Kontak</li></a>
            <a href="/docs/"><li class="py-2 border-top mt-2">Docs</li></a>
            <a href="/blog/"><li class="pb-2">Blog</li></a>
            <a href="/jammasjid/"><li class="pb-2">Jam Masjid</li></a>
            <a href="/mitra/"><li class="pb-2">Mitra Buku Masjid</li></a>
            <a href="/tnc/"><li class="py-2 border-top mt-2">Syarat & Ketentuan</li></a>
            <a href="/privacy-policy/"><li class="pb-2">Kebijakan Privasi</li></a>
            <a href="/faq/"><li class="pb-2">FAQ</li></a>
        </ul>
    </div>
    <div class="mt-auto bd-highlight">
      <div class="mt-4">
      <a href="/register/"><button class="btn bg-primary fs-5 w-100 mb-4" type="button" style="padding: 15px 20px;">Daftarkan Masjid Anda</button></a>
        <div class="d-flex justify-content-center">
          <div class="pe-2">
              <i class="ti">&#xf7e6;</i> bukumasjid
          </div>
          <div class="ps-2">
              <i class="ti">&#xf7eb;</i> bukumasjid
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <div class="pe-2">
              <i class="ti">&#xec26;</i> bukumasjid
          </div>
          <div class="ps-2">
              <i class="ti">&#xec20;</i> bukumasjid
          </div>
        </div>
      </div>
      <div class="mt-4">
        <div class="text-center">
          (c) 2024 Bukumasjid
        </div>
      </div>
    </div>
  </div>
</div>
