<section class="support py-5" id="sponsors">
    <div class="container-md">
      <div class="text-center txt-primary h3">Sponsor</div>
      <div class="row justify-content-center">
        <a href="https://pondokteknologi.com" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_pondok.png" class="w-75">
          <div class="text-center pt-3 fs-6">Pondok Teknologi</div>
        </a>
        <a href="https://pondokit.com" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_pondokit.png" class="w-75">
          <div class="text-center pt-3 fs-6">Pondok IT</div>
        </a>
        <a href="https://mushaira.id" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_mushaira.png" class="w-75">
          <div class="text-center pt-3 fs-6">Mushaira</div>
        </a>
        <a href="https://stimi-bjm.ac.id" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_stimi.png" class="w-75">
          <div class="text-center pt-3 fs-6">STIMI Banjarmasin</div>
        </a>
        <a href="https://lynk.id/almauncenter" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_lksa.png" class="w-75">
          <div class="text-center pt-3 fs-6">LKSA Al Ma'un Center</div>
        </a>
        <a href="https://jetorbit.com" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_jetorbit.png" class="w-75">
          <div class="text-center pt-3 fs-6">Jetorbit</div>
        </a>
        <a href="https://jetorbit.com" target="_blank" class="col-6 col-sm-3 logo text-center p-3 text-decoration-none">
          <img src="/img/home/logo_alikhlas.png" class="w-75">
          <div class="text-center pt-3 fs-6">Masjid Al Ikhlas PIK</div>
        </a>
      </div>
    </div>
  </section>
