<div class="testimonial">
  <div class="stat">
      <div class="display-5 txt-primary fw-bolder">Testimonial</div>
      <div id="bm-testimonial" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#bm-testimonial" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button"data-bs-target="#bm-testimonial" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card h-100 border-0">
              <div class="">Saya sangat puas menggunakan aplikasi keuangan BukuMasjid,com ini. Antarmuka yang intuitif membuatnya mudah digunakan. Fitur transparansi keuangan sangat membantu meningkatkan kepercayaan jamaah dan donatur. Ketika saya mengalami sedikit kesulitan, tim dukungan teknis langsung merespons dan memperbaiki masalahnya. Aplikasi ini sangat recommended!</div>
              <span class="fs-6 fs-md-4 fw-bold">Aji -  Bendahara Masjid Taqwa Suronatan</span>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card h-100 border-0">
              <div class="">Sebelum adanya buku masjid ini, pencatatan keuangan dan laporan keuangan sulit di buat dan sulit di akses jamaah.Dengan adanya buku masjid ini, pengurus masjid dapat lebih mudah dalam pencatatan keluar masuk keuangan masjid dan untuk pelaporan kepada jama'ah lebih mudah,akuntabel,dan bisa di buat dan di laporkan kapan saja dimana saja dan juga bisa cetak laporan mingguan,bulanan ataupun tahunan dengan sangat rinci serta mudah di pahami oleh semua pihak sehingga meningkatkan kepercayaan dan antusias jamaah.</div>
              <span class="fs-6 fs-md-4 fw-bold">Muhtar -  Sekretaris Desa/pegiat desa digital Masjid Baiturrohim Cugung</span>
            </div>
          </div>
        </div>
        <i class="ti display-5 carousel-control-prev" data-bs-target="#bm-testimonial" data-bs-slide="prev" style="color: #4a4a4a;cursor: pointer">&#xea60;</i>
        <i class="ti display-5 carousel-control-next" data-bs-target="#bm-testimonial" data-bs-slide="next" style="color: #4a4a4a;cursor: pointer">&#xea61;</i>
      </div>
  </div>
</div>
